h1 {
    position: absolute;
    font-size: 3rem;
}

h1::before {
    content: attr(data-text);
    position: absolute;
    width: 0%;
    height: 100%;
    color: #2cc3ff;
    -webkit-text-stroke: 0vw #383d52;
    border-right: 5px solid #2cc3ff;
    overflow: hidden;
    animation: animate 7s linear infinite;
}

@keyframes animate {
    0% {
        width: 0;
    }

    70% {
        width: 100%;
    }
}
